body {
  font-family: 'Orbitron', "微軟正黑體", sans-serif;
  letter-spacing:2px;
}

img {
  object-fit: contain;
  object-position: center;
}

.vue-notification-group {
  @apply mt-4;
}
.notification-icon {
  @apply text-3xl;
}

.notification-default .notification-inner {
  @apply border-blue-500;
}
.notification-default .notification-icon {
  @apply text-blue-500;
}

.notification-success .notification-inner {
  @apply border-green-500;
}
.notification-success .notification-icon {
  @apply text-green-500;
}

.notification-warn .notification-inner {
  @apply border-yellow-500;
}
.notification-warn .notification-icon {
  @apply text-yellow-500;
}

.notification-error .notification-inner {
  @apply border-red-500;
}
.notification-error .notification-icon {
  @apply text-red-500;
}